* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

img {
    width: 100%;
} 

 /* HEADER*/

header {
    background-color: #f8f9fa;
    height: 70px;
}

header .row {
    margin-right: .4rem;
    margin-left: -.4rem;
}

#top-nav {
    width: 100%;
    background-color: white;
    color: #5b5858;
    height: auto;
}

input {
    width: 100%;
    background-color: lightgrey;
    border: none;
    border-radius: 8px;
}

.logo-m img {
    width: 50px;
    height: 50px;
}

/*MANI*/

main {
    height: calc(100% - 90px);
 }

/*Sidebar*/
.side-menu {
    height: calc(100vh - 90px);
    background-image: url(img/sidebar-bg.png);
    background-color: #142a40;
    color: white;
    font-size: .8rem;
}

.side-menu > div {
    height: calc(100% / 2);   
}

a {
    color: white;
    text-decoration: none;
}

/*MAIN PAGE*/

.m-page {
    padding: 0;
    background-color: #f7f7f7;
}
/* HEADER MAIN PAGE*/

.banner {
    background-color: #1b72e8;
    color: white;
}

.breadcrumb {
    margin-bottom: 0;
    padding: 0;
}

.btn-secondary {
    padding: 0.2px 5px;
    background-color: rgb(0, 0, 0, 0.30);
    border-radius: 10px;
    border: none;
    font-size: 12px;
}

/*Interactiv pagre*/

/*Left Prossime classi*/

.title, #next-cl {
    height: 50px;
    border: solid lightgray 0.1px;
    border-radius: 10px 10px 0 0;
}

table #next-cl {
    border-radius: 0 0 10px;
}

table img {
    width: 25px;
}

.tab-col > .nome {
    width: 40%;
}

.fa-pencil, .fa-trash {
    font-size: 18px;
    color: #6c757d;
    border: solid #6c757d 2px;
    border-radius: 5px;
    padding: 8px;
}


