* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

main {
    padding-top: 70px;
}

.side-menu > div {
    height: calc(100% / 2);
}

.icon-side i, .setting i {
    height: fit-content;
}

/*DEBUG*/
nav {
    min-height: 70px;
    background-color: gray;
    color: white;
}

.row {
    background-color: rgb(152, 201, 184);
    min-height: 70px;
}
main .row {
    background-color: darkgoldenrod;
}

[class^="col-"] {
    background-color: chocolate;
    min-height: 50px;
}

main .row  {
    border: solid black 1px;
    min-height: 700px;
}

main div  {
    border: solid black 1px;
}

/*FINE DEBUG*/

.banner {
    min-height: 100px;
}